.section {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: var(--space-xl);
}

.figure {
  border: 1px solid var(--color-border);
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 2rem;
}

.figure img {
  /* height: 500px; */
  /* width: 100%; */
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.list {
  display: flex;
  gap: 1rem;
  overflow-y: auto;
}

.content h1 {
  margin-bottom: 2rem;
}

.summary {
  font-size: var(--font-size-base);
  margin-bottom: 2rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .section {
    grid-template-columns: minmax(0, 1fr);
  }
  .figure {
    overflow: visible;
    border-radius: 0;
  }
  .list {
    padding-inline: var(--container-padding);
  }
  .content {
    padding-inline: var(--container-padding);
  }
}
