.download {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  align-items: center;  
  font-size: var(--font-size-sm);
  letter-spacing: 0.015em;
  font-weight: 600;
  width: fit-content;
  border-radius: var(--radius-sm);
  transition: 0.3s;
  gap: var(--space-sm);
  padding: 0.5rem 1rem;
}

.download:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
