.primary {
  background-color: var(--blue-color);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--deep-navy-color);
  border-radius: 5px;
  transition: 0.3s;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.primary:hover {
  background-color: var(--deep-navy-color);
  color: var(--blue-color);
}
