.card {
  display: grid;
  grid-template-columns: 552px auto;
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  transition: 0.3s;
  gap: var(--space-lg);
  padding: var(--space-lg);

  grid-template-areas: "figure content";
}

.card:hover {
  transform: scale(1.01);
}

.reverse {
  grid-template-columns: auto 552px;
  grid-template-areas: "content figure";
}

.figure {
  border-radius: var(--radius-lg);
  box-shadow: 0 2px 2px var(--deep-navy-50-color);
  overflow: hidden;
  
  grid-area: figure;
}

.content {
  display: flex;
  flex-direction: column;

  grid-area: content;
}

.name {
  font-size: var(--font-size-lg);
  line-height: 1.1;
  margin-bottom: var(--space-md);
}

.summary {
  font-size: var(--font-size-base);
  line-height: 1.5;
  margin-bottom: var(--space-lg);
}

.links {
  display: flex;
  gap: var(--space-md);
}

@media (max-width: 800px) {
  .card {
    padding: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "figure"
    "content";
  }
}
