.card {
  display: grid;
  grid-template-columns: 552px auto;
  gap: var(--space-lg);
  border: 1px solid var(--deep-navy-50-color);
  border-radius: 10px;
  box-shadow: 0px 2px 2px var(--deep-navy-50-color);
  transition: 0.3s;
  padding: var(--space-lg);

  grid-template-areas: "figure content";
}

.card:nth-child(even) {
  grid-template-areas: "content figure";
  grid-template-columns: auto 552px;
}

.card:hover {
  border-color: var(--primary-color);
}

.card figure {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--deep-navy-50-color);
  overflow: hidden;
  
  grid-area: figure;
}

.content {
  display: flex;
  flex-direction: column;

  grid-area: content;
}

.title {
  font-size: var(--font-size-lg);
  line-height: 1.1;
  margin-bottom: var(--space-md);
}

.description {
  font-size: var(--font-size-base);
  line-height: 1.5;
  margin-bottom: var(--space-lg);
}

.links {
  display: flex;
  gap: var(--space-md);
}

@media (max-width: 800px) {
  .card, .card:nth-child(even) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "figure"
    "content";
  }
}
