.card {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 4rem;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 2px solid var(--black-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  padding: 2rem;
}

.card figure {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info h2::after {
  content: '';
  display: block;
  background-color: #bbb;
  width: 100px;
  height: 5px;
  border-radius: 100px;
}

.info p {
  line-height: 1.5;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.list li {
  background-color: #bbb;
  border-radius: 100px;
  padding: 0.4rem 0.8rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  background-color: var(--blue-color);
  color: var(--black-color);
  text-transform:uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid var(--black-color);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.links a:hover {
  background-color: var(--black-color);
  color: var(--bg-color);
}

@media (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
