.project-card {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
}

.project-card figure {
  height: 250px;
  width: 250px;
  background-color: cornflowerblue;
  border-radius: 5px;
}

.project-card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-tools-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.card-tools-list li {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.external-links {
  display: flex;
  gap: 1rem;
}

.external-links a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.external-links a:hover {
  border-bottom: 1px solid #000;
}
