.subtitle {
  font-size: var(--font-size-base);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-2xl);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto 4rem;
}

@media (max-width: 800px) {
  .container {
    padding: var(--container-padding);
  }
}
