.career {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.role {
  font-size: 1.25rem;
}
