.career {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.role {
  font-size: var(--font-size-base);
}
