.section {
  margin-bottom: 2rem;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.role {
  font-weight: bold;
}
