.projectList {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  margin: 0 auto 4rem;
}

@media (max-width: 800px) {
  .projectList {
    padding: 0 1.5rem;
  }
}
