.logo {
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--color-secondary);
  width: 110px;
  height: 2px;
  bottom: -8px;
  left: 0;
  border-radius: var(--radius-xl);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.logo:hover::after {
  transform: scaleX(1);
}
