:root {
  --color-base: #f5f5f7;
  --color-surface: #ffffff;
  
  --color-text: #0C2340;
  --color-white: #ffffff;
  --color-primary: #0C2340;
  --color-secondary: #ffc627;

  --color-border: rgba(0, 0, 0, 0.2)
}

/* fix: saber se isso deve ficar aqui mesmo */
/* @media (prefers-color-scheme: dark) {
  :root {
  --base-color: #000000;
  --text-color: #ffffff;

  --white-color: #ffffff;
  --primary-color: #0C2340;
  --secondary-color: #ffc627;

  --color-border: rgba(0, 0, 0, 0.2)
  }
} */
