:root {
  --base-color: #ffffff;
  --text-color: #0C2340;

  --primary-color: #0C2340;
  --deep-navy-50-color: #0c234080;
  --white-color: #ffffff;
  --white-80-color: #ffffffcc;
  --secondary-color: #ffc627;
}
