:root {
  --font-family-base: 'Roboto', sans-serif;
  --font-family-heading: 'Poppins', sans-serif;

  --font-size-xs: 0.75rem;    /* 12px */
  --font-size-sm: 1.125rem;   /* 18px */
  --font-size-base: 1.25rem;  /* 20px */
  --font-size-md: 1.5rem;     /* 24px */
  --font-size-lg: 2.25rem;    /* 36px */
  --font-size-xl: 3rem;       /* 48px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* :root {
  --line-height-tight: 1.1;
  --line-height-normal: 1.5;
} */
