.about {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about p, span {
  font-size: 1.2rem;
}

.about h2 {
  font-size: 4rem;
}

.about span {
  margin-top: 2rem;
}
