.about {
  display: grid;
  grid-template-columns: 585px auto;
  gap: var(--space-lg);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.info {
  display: grid;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}

.info p {
  font-size: var(--font-size-base);
}

.info span {
  font-weight: 600;
}

@media (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
  }
}
