.summary {
  display: grid;
  grid-template-columns: 585px auto;
  gap: var(--space-lg);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.content p {
  font-size: var(--font-size-base);
}

.content a {
  margin-top: var(--space-md);
}

.content span {
  font-weight: 600;
}

@media (max-width: 800px) {
  .summary {
    grid-template-columns: 1fr;
  }
}
