.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.list li {
  font-size: var(--font-size-xs);
  border: 1px solid var(--deep-navy-50-color);
  border-radius: 100px;
  padding: 0.5rem 1rem;
}
