.projectsPage {
  max-width: 1200px;
  margin: 0 auto 4rem;
}

.projectsPage h3 {
  margin-bottom: var(--space-xl);
}

.grid {
  display: grid;
  grid-template-columns: 585px auto;
  gap: var(--space-lg);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.content a {
  margin-top: var(--space-lg);
}
