.contact-container {
  display: flex;
  justify-content: center;
}

.form-contact {
  width: 650px;
  /* border: 1px solid cornflowerblue; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.form-contact input {
  font-size: 1rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.form-contact textarea {
  font-size: 1rem;
  padding: 0.8rem;
  min-height: 9rem;
  border: 1px solid #000;
  border-radius: 5px;
}

.form-top {
  display: flex;
  gap: 1rem;
}

.input-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.btn-send-message {
  display: flex;
  align-self: flex-start;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: cornflowerblue;
  border: 1px solid #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-send-message:hover {
  background-color: #000;
  color: cornflowerblue;
}

.contact-info {
  padding: 2rem;
}

.contact-item h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.contact-info ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.contact-info li {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  transition: 0.3s;
}

.contact-info li:hover {
  background-color: #000;
  color: #eee;
}
