.stacks {
  background-color: var(--deep-navy-color);
  overflow: hidden;
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.marquee {
  color: var(--bg-color);
  display: flex;
  gap: 8rem;
  animation: scrollLeft 30s linear infinite;
}

.marquee span {
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%)
  }
}
