.marquee {
  background-color: var(--color-primary);
  overflow: hidden;
  padding-block: var(--space-xl);
  margin-bottom: 4rem;
}

.stacks {
  color: var(--color-white);
  display: flex;
  gap: 8rem;
  animation: scrollLeftDesktop 30s linear infinite;
}

.stacks span {
  font-size: var(--font-size-md);
  font-weight: bold;
}

@keyframes scrollLeftDesktop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%)
  }
}

@keyframes scrollLeftMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%)
  }
}

@media (max-width: 800px) {
  .stacks {
    gap: var(--space-2xl);
    animation: scrollLeftMobile 30s linear infinite;
  }
}
