.stacks {
  background-color: var(--primary-color);
  overflow: hidden;
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.marquee {
  color: var(--white-color);
  display: flex;
  gap: 8rem;
  animation: scrollLeftDesktop 30s linear infinite;
}

.marquee span {
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes scrollLeftDesktop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%)
  }
}

@keyframes scrollLeftMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%)
  }
}

@media (max-width: 800px) {
  .marquee {
    gap: 4rem;
    animation: scrollLeftMobile 30s linear infinite;
  }
}
