.header ul {
  list-style: none;
}

.header-bg {
  background-color: #000;
  padding: 2rem 0;
}

.header {
  color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
