.headerBg {
  background-color: var(--primary-color);
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
  padding-block: var(--space-lg);
  margin-bottom: var(--space-2xl);
}

.header {
  max-width: var(--container-max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  margin: 0 auto;
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }
  .header nav a {
    display: none;
  }
}
