.headerBg {
  background-color: var(--primary-color);
  border-radius: 0 0 10px 10px;
  padding: 1.5rem 0;
  margin-bottom: var(--space-xl);
}

.header {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-md);
  margin: 0 auto;
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }
  .header nav a {
    display: none;
  }
}
