.header-bg {
  padding: 2rem 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav a {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black-color);
  border-radius: 100px;
  transition: 0.3s;
  outline: none;
}

.nav a:hover, nav a:focus {
  background-color: var(--black-color);
  color: var(--bg-color);
}
