.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.galleryItem {
  border-radius: 10px;
  overflow: hidden;
}

.featured {
  grid-row: span 2;
}

@media (max-width: 800px) {
  .gallery {
    gap: 1rem;
  }
}
