.fill,
.outline,
.ghost,
.contact {
  font-size: var(--font-size-sm);
  font-weight: 600;
  letter-spacing: 0.015em;
  border-radius: var(--radius-sm);
  transition: 0.3s;
  padding: 0.5rem 1rem;

  &:hover {
    opacity: 0.9;
  }
}

.fill {
  background: var(--gradient-primary);
  color: var(--color-white);
}

.outline {
  background-color: var(--color-primary-muted);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.ghost {
  color: var(--color-white);

  &:hover {
    background-color: var(--color-white-hover);
  }
}

.contact {
  background: var(--gradient-secondary);
  color: var(--color-primary);
}
