.container-bg {
  background-color: var(--black-color);
  /* color: var(--gray-color); */
  color: rgba(255, 255, 255, 0.8);
  padding: 2rem 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.content h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.list a:hover {
  text-decoration: underline;
}

.footer {
  /* color: var(--gray-color); */
  color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding-top: 2rem;
}
