.footerBg {
  background-color: var(--primary-color);
  color: var(--white-80-color);
  padding: 3rem 0;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.listLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.bottom {
  color: var(--white-80-color);
  border-top: 1px solid var(--white-80-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.version {
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  padding: 0.5rem 1rem;
}

.version::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #22c55e;
  display: inline-block;
  border-radius: 100px;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.version:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .footer {
    padding: 0 1.5rem;
  }
  .listLinks {
    flex-direction: column;
    align-items: flex-start;
  }
  .bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
