* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #eee;
  --white-color: #f7f7f7;
  --blue-color: #6495ed;
  --black-color: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.subtitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}
