* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --bg-color: #eee; */
  --bg-color: #ffffff;

  --white-color: #f7f7f7;
  --white-80-color: #ffffffcc;

  --blue-color: #1c93ff;
  --gray-color: #525252;

  --yellow-color: #ffc627;
  --deep-navy-color: #0C2340;
  --deep-navy-50-color: #0c234080;
}

body {
  background-color: var(--bg-color);
  color: var(--deep-navy-color);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

p, h3, li {
  font-family: 'Roboto', sans-serif;
}

h2, a, span {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 4rem;
  color: var(--deep-navy-color);
}

.subtitle {
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--deep-navy-color);
}
