* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;

  --white-color: #ffffff;
  --white-80-color: #ffffffcc;

  --deep-navy-color: #0C2340;
  --deep-navy-50-color: #0c234080;

  --yellow-color: #ffc627;
}

body {
  background-color: var(--bg-color);
  color: var(--deep-navy-color);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

p, h3, li {
  font-family: 'Roboto', sans-serif;
}

h1, h2, a, span {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 3rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 2.25rem;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0C2340;
    --text-color: #f7f7f7;
    --white-color: #f7f7f7;
    --white-80-color: #f7f7f7cc;
    --deep-navy-color: #ffffff;
    --deep-navy-50-color: #ffffff80;
    --yellow-color: #ffc627;
  }
} */
