.accordion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border: 1px solid var(--deep-navy-50-color);
  box-shadow: 0 2px 2px var(--deep-navy-50-color);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;

  padding: 2rem;
}

.card:hover {
  border-color: var(--primary-color);
}

.card h2 {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  
}

.card span {
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  font-size: 1.25rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .card {
    padding: 1.5rem;
  }
}
