.fill, .outline {
  font-size: var(--font-size-sm);
  font-weight: 600;
  letter-spacing: 0.015em;
  border-radius: var(--radius-sm);
  transition: 0.3s;
  padding: 0.5rem 1rem;
}

.fill {
  background: linear-gradient(var(--color-primary), #040f1d);
  color: var(--color-white);
}

.outline {
  background-color: rgba(12, 35, 64, 0.1);
  color: #0C2340;
  border: 1px solid #0C2340;
}

.fill:hover, .outline:hover {
  opacity: 0.9;
}

.internal {
  opacity: 0.8;
  transition: 0.3s;
}

.internal:hover {
  opacity: 1;
}
