/* fix: apagar depois isso tudo de link */
.primary {
  font-size: var(--font-size-sm);
  letter-spacing: 0.015em;
  border-radius: var(--radius-sm);
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.primary:hover {
  opacity: 0.9;
}

.primary {
  background: var(--gradient-primary);
  color: var(--color-white);
}

.tertiary {
  background-color: var(--color-primary-muted);
  color: #0C2340;
  font-weight: 600;
  letter-spacing: 0.015em;
  border: 1px solid #0C2340;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.tertiary:hover {
  opacity: 0.9;
}

.icon {
  width: 20px;
  height: 20px;
}
