body {
  background-color: var(--base-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.logo {
  color: var(--white-color);
  font-size: 2rem;
  line-height: 1.1;
}

.logo:hover {
  opacity: 0.9;
}

.title {
  font-size: var(--font-size-xl);
  line-height: 1.1;
}

.subtitle {
  font-size: var(--font-size-base);
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
