* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --base-color: #000000;
  --text-color: #ffffff;

  --primary-color: #0C2340;
  --deep-navy-50-color: #0c234080;
  --white-color: #ffffff;
  --white-80-color: #ffffffcc;
  --secondary-color: #ffc627;
  }
} */
